@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Blue600: hsl(231, 69%, 60%);
  --Red400: hsl(0, 94%, 66%);
  --Grey50: hsl(0, 0%, 97%);
  --lighter-grey: hsl(0, 0%, 90%);
  --Grey: hsl(0, 0%, 62%);
  --darker-grey: hsl(0, 0%, 42%);
  --Blue950: hsl(229, 31%, 21%);
  --blue-gray: hsl(240, 5%, 56%);
  --fw400: 400;
  --fw500: 500;
  --primary-font: "Rubik", sans-serif;
  --letter-spacing-12: 0.075rem;
  --letter-spacing3: 0.1875rem;
  --boxshadow: 0.25rem 0.25rem 0.625rem rgba(0, 0, 0, 0.15);
  --blue-shadow: 0.25rem 0.25rem 0.625rem hsla(231, 69%, 60%, 0.2);
  --padding100: 6.25rem;
  --line-height: 1.6;
  --transition: all 0.2s ease-in;
  --bg-transition: background-color 0.3s ease-out;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  background-color: var(--Grey50);
  font-size: 18px;
  color: var(--Grey);
  font-weight: var(--fw400);
  overflow-x: hidden;
  position: relative;
}

/* === header === */

.top-logo {
  width: 9.25rem;
  height: 1.5625rem;
  background-image: url("./images/logo-bookmark.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.top-a {
  text-decoration: none;
}

.top-ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 3rem;
}

.top-ul li {
  color: var(--darker-grey);
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: var(--letter-spacing-12);
  transition: var(--transition);
}

.top-ul li:hover {
  color: var(--Red400);
}

.btn {
  font-family: var(--primary-font);
  color: var(--Grey50);
  background-color: var(--Red400);
  border: none;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-12);
  padding: 0.875rem 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 0.625rem rgba(0, 0, 0, 0.15);
  font-weight: var(--fw500);
  transition: var(--bg-transition);
}

.btn:hover {
  background-color: var(--Grey50);
  color: var(--Red400);
  border: 0.125rem solid var(--Red400);
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2.5rem var(--padding100);
  position: fixed;
  z-index: 80;
  background-color: var(--Grey50);
  box-shadow: var(--blue-shadow);
}

/* === hamburger menu === */

.hamburger-icon {
  display: none;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("./images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.hamburger-panel {
  background-color: hsla(229, 31%, 21%, 0.96);
  width: 100vw;
  height: 100vh;
  padding: 2.5rem 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 60;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transform: translateX(100%);
  transition: transform 1s ease;
}

.slidein {
  transform: translateX(0);
}

.panel-wrapper {
  width: 100%;
}

.panel-logo {
  width: 9.25rem;
  height: 1.5625rem;
  background-image: url("./images/logo-bookmark-hamburger.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.close-btn {
  width: 2rem;
  height: 2rem;
  background-image: url("./images/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.panel-a {
  text-decoration: none;
  color: var(--Grey50);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing3);
  transition: var(--transition);
}

.panel-a:hover {
  color: var(--Red400);
}

.panel-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.panel-ul-list {
  margin: auto;
  cursor: pointer;
  padding: 1.5rem;
  border-top: 0.025rem solid hsla(240, 5%, 56%, 0.8);
  width: 100%;
  text-align: center;
}

.panel-ul-list3 {
  border-bottom: 0.025rem solid hsla(240, 5%, 56%, 0.8);
}

.panel-btn {
  width: 100%;
  border: 0.125rem solid white;
  background: transparent;
  border-radius: 0.375rem;
  font-family: var(--primary-font);
  text-transform: uppercase;
  font-size: 1.125rem;
  color: white;
  padding: 1rem;
  margin-top: 2rem;
  transition: var(--transition);
  letter-spacing: var(--letter-spacing3);
  font-weight: var(--fw500);
}

.panel-btn:hover {
  border: 0.125rem solid var(--Red400);
  color: var(--Red400);
}

.panel-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

/* === hero section === */

.hero__h1 {
  color: var(--Blue950);
  font-weight: var(--fw500);
  font-size: 2.75rem;
}

.hero__p {
  line-height: var(--line-height);
}

.btn__blue {
  background-color: var(--Blue600);
  text-transform: none;
  letter-spacing: 0;
  font-weight: var(--fw500);
  padding: 0.875rem 1.25rem;
  box-shadow: var(--blue-shadow);
  transition: var(--bg-transition);
}

.btn__blue:hover {
  background-color: var(--Grey50);
  color: var(--Blue600);
  border: 0.125rem solid var(--Blue600);
}

.btn__gray {
  background-color: var(--lighter-grey);
  color: var(--darker-grey);
  text-transform: none;
  letter-spacing: 0;
  font-weight: var(--fw500);
  padding: 0.875rem 1.25rem;
  box-shadow: inset 0.125rem 0 0.25rem hsla(0, 0%, 100%, 0.6), var(--boxshadow);
  transition: var(--bg-transition);
}

.btn__gray:hover {
  background-color: var(--Grey50);
  color: var(--darker-grey);
  border: 0.125rem solid var(--darker-grey);
}

.hero__btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
  padding-left: var(--padding100);
  margin: auto;
}

.hero__img {
  background-image: url("./images/illustration-hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 31.25rem;
}

.pill-shape {
  width: 42.5rem;
  height: 25rem;
  background-color: var(--Blue600);
  position: absolute;
  border-radius: 25rem;
  z-index: -40;
  transform: translate(-50%, -50%);
  top: 25rem;
  right: -33.75rem;
}

.section-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 12.5rem 0 2.5rem 0;
  overflow-x: hidden;
  position: relative;
  margin-bottom: var(--padding100);
}

/* === feature section === */

.features__h2 {
  color: var(--Blue950);
  font-weight: var(--fw500);
  font-size: 1.875rem;
  text-align: center;
}

.features__p {
  line-height: var(--line-height);
  text-align: center;
}

.features__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: clamp(25rem, 50vw, 37.5rem);
  margin: 0rem auto 3.5rem auto;
}

/* .border-red {
  border-bottom: 0.25rem solid var(--Red400);
} */

.features__tab-item {
  text-align: center;
  color: var(--Blue950);
  padding-bottom: 1.5rem;
  cursor: pointer;
}

.features__tab-item--active {
  position: relative;
}

.features__tab-item--active::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: -0.125rem;
  left: 50%;
  height: 0.25rem;
  width: 100%;
  background-color: var(--Red400);
}

.features__tab-item--inactive {
  color: var(--blue-gray);
  transition: var(--transition);
}

.features__tab-item--inactive:hover {
  color: var(--Red400);
}

.features-tab-menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 60vw;
  border-bottom: 0.0625rem solid var(--lighter-grey);
  margin: auto;
}

.features__container {
  margin: 5rem var(--padding100) 5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  position: relative;
}

.features__img {
  background-image: url("./images/illustration-features-tab-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 100%;
  height: 20rem;
}

.features__img--2 {
  background-image: url("./images/illustration-features-tab-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.features__img--3 {
  background-image: url("./images/illustration-features-tab-3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.pill-shape--features {
  width: 50rem;
  top: 15rem;
  left: 0;
}

.features__h2--left {
  text-align: left;
}

.features__p--left {
  text-align: left;
}

.features__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  margin: auto;
}

.hide {
  display: none;
}
.section-features {
  margin-bottom: 15rem;
}

/* === download section === */

.download__h2 {
  color: var(--Blue950);
  font-weight: var(--fw500);
  font-size: 1.875rem;
  text-align: center;
}

.download__p {
  line-height: var(--line-height);
  text-align: center;
}

.download__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: clamp(25rem, 50vw, 37.5rem);
  margin: 0rem auto 3.5rem auto;
}

.download__cards-wrapper {
  margin: 2.5rem auto;
  display: flex;
  gap: 1.5rem;
  width: clamp(25rem, 70vw, 50rem);
}

.download__card {
  padding: 2.5rem 0;
  box-shadow: 0.5rem 0.5rem 0.625rem rgba(84, 108, 132, 0.1),
    -0.25rem 0rem 0.625rem rgba(84, 108, 132, 0.1);
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.download__card--firefox {
  transform: translateY(2rem);
}

.download__card--opera {
  transform: translateY(4rem);
}

.download__card-img {
  width: 100%;
  height: 4.5rem;
  background-image: url("./images/logo-chrome.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.download__card-img2 {
  background-image: url("./images/logo-firefox.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.download__card-img3 {
  background-image: url("./images/logo-opera.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.download__card-title {
  color: var(--Blue950);
  font-weight: var(--fw500);
  margin: 1.5rem 0 0.5rem 0;
  text-align: center;
}

.download__card-version {
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.dots {
  width: 100%;
  height: 0.625rem;
  background-image: radial-gradient(var(--Grey) 20%, rgba(255, 255, 255, 0) 0%);
  background-size: 0.625rem 0.625rem;
  background-position: bottom;
  background-repeat: repeat-x;
  margin-bottom: 1.5rem;
  opacity: 0.4;
}

.btn__blue-extension {
  margin: 0 1.5rem;
}

/* === faq section === */

.section-faq {
  margin: 12.5rem auto 6.25rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faq__h2 {
  color: var(--Blue950);
  font-weight: var(--fw500);
  font-size: 1.875rem;
  text-align: center;
}

.faq__p {
  line-height: var(--line-height);
  text-align: center;
}

.faq__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: clamp(25rem, 50vw, 37.5rem);
  margin: 0rem auto 3.5rem auto;
}

.faq__accordion {
  width: clamp(25rem, 50vw, 37.5rem);
  margin: 0rem auto 3.5rem auto;
}

.faq__accordion-text {
  color: var(--darker-grey);
}

.color-red {
  color: var(--Red400);
}

.faq__accordion-a {
  line-height: var(--line-height);
}

.faq__accordion-down {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("./images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.faq__accordion-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 0;
  border-top: 0.0938rem solid var(--lighter-grey);
  cursor: pointer;
}

.faq__accordion-answer {
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 0;
  border-top: none;
  cursor: pointer;
}

.flex {
  display: flex;
}

.faq__accordion-up {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("./images/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#last {
  border-bottom: 0.0938rem solid var(--lighter-grey);
}

/* === contact section === */

.section-contact {
  background-color: var(--Blue600);
  color: var(--Grey50);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.contact__p {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: var(--letter-spacing3);
  text-align: center;
  margin-top: 4rem;
}

.contact__h2 {
  font-weight: var(--fw500);
  font-size: 1.875rem;
  text-align: center;
  width: clamp(25rem, 33vw, 37.5rem);
  line-height: 2.625rem;
}

form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

input {
  border: none;
  background-color: white;
  font-family: var(--primary-font);
  border-radius: 0.25rem;
  padding: 0.875rem 1.25rem;
  width: clamp(18.75rem, 25vw, 25rem);
}

input::placeholder {
  color: var(--lighter-grey);
}

input:focus {
  outline: none;
}

.error-input {
  background-image: url("./images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: top 0.75rem right 0.75rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 0.25rem;
  padding: 0.125rem;
}

.success-input {
  outline: 0.1563rem solid rgb(133, 210, 133);
  outline-offset: 0.25rem;
}

.input-container--error {
  background-color: var(--Red400);
}

small {
  font-size: 0.8125rem;
  font-style: italic;
  padding: 0.25rem;
}

/* === footer === */

footer {
  background-color: var(--Blue950);
  color: var(--Grey50);
  padding-bottom: 2.5rem;
}

.footer-logo {
  width: 9.25rem;
  height: 1.5625rem;
  background-image: url("./images/logo-bookmark-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.footer-a {
  text-decoration: none;
}

.footer-ul {
  list-style: none;
  font-weight: var(--fw400);
  font-size: 0.9375rem;
  letter-spacing: var(--letter-spacing-12);
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.footer-ul li {
  font-family: var(--primary-font);
  color: var(--Grey50);
  text-transform: uppercase;
  transition: var(--transition);
}

.footer-ul li:hover {
  color: var(--Red400);
}

.social-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./images/icon-facebook.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: var(--bg-transition);
}

.social-icon:hover {
  background-image: url("./images/icon-facebook-red.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.social-icon--2 {
  background-image: url("./images/icon-twitter.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: var(--bg-transition);
}

.social-icon--2:hover {
  background-image: url("./images/icon-twitter-red.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.logo-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2.5rem var(--padding100);
}

/* === 👉responsive === */

@media (max-width: 54.375rem) {
  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
    margin: auto;
  }
  .hamburger-icon {
    display: block;
  }
  .top-ul {
    display: none;
  }
  #login-btn {
    display: none;
  }
  .section-hero {
    grid-template-columns: 1fr;
    gap: 8.75rem;
  }
  .hero__img {
    grid-row-start: 1;
    height: 22.5rem;
    background-size: contain;
    background-position: center;
  }

  .pill-shape {
    width: 41.875rem;
    height: 15rem;
    top: 18.75rem;
    right: -33.75rem;
  }

  .pill-shape--features {
    width: 41.875rem;
    height: 15rem;
    top: 21.25rem;
    left: 0;
  }

  .hero__text {
    align-items: center;
    width: 90%;
    padding-left: 0;
  }
  .hero__h1,
  .hero__p {
    text-align: center;
  }

  .features__text-wrapper,
  .download__text-wrapper,
  .faq__text-wrapper {
    width: 90vw;
  }

  .features-tab-menus {
    display: grid;
    grid-template-columns: 1fr;
    width: 90vw;
    border-bottom: 0.0625rem solid var(--lighter-grey);
    margin: auto;
  }

  .features__tab-item {
    border-top: 0.0625rem solid var(--lighter-grey);
    padding: 1.5rem 0;
  }

  .features__tab-item--active::after {
    width: 8.75rem;
  }

  .features__container {
    grid-template-columns: 1fr;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90vw;
  }

  .features__text {
    align-items: center;
    justify-content: center;
  }

  .section-features {
    margin-bottom: 6.25rem;
  }

  .features__img {
    width: 100%;
    height: 20rem;
    margin-top: 6.25rem;
    background-position: center;
  }
  .download__cards-wrapper {
    flex-direction: column;
    gap: 2.5rem;
  }

  .download__card--firefox,
  .download__card--opera {
    transform: translateY(0);
  }

  .btn__blue-extension {
    width: 80%;
  }

  .faq__accordion {
    width: 90vw;
    margin: 0rem auto 3.5rem auto;
  }

  .contact__h2 {
    width: 90vw;
  }

  form {
    flex-direction: column;
    width: 90vw;
  }

  .input-container,
  input,
  #contact-btn {
    width: 100%;
  }

  .footer-ul {
    flex-direction: column;
  }

  .footer-nav {
    flex-direction: column;
    padding-top: 0rem;
  }
  .logo-nav {
    flex-direction: column;
    margin: 3rem auto;
    gap: 2rem;
  }
}

@media (max-width: 28.75rem) {
  .hero__h1 {
    font-size: 2.375rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .section-hero {
    gap: 2.5rem;
    margin-bottom: 5rem;
  }
  .features__container {
    gap: 4rem;
  }

  .section-faq {
    margin: 5rem auto 6.25rem auto;
  }
}
